
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2020, 11:58:30
    Author     : cristianelx
*/


body {text-align: center; }

#cabecera{margin:auto; width: 35%; }

#menu{margin:auto; width: 70%;}

#contenido{margin:auto; width: 72%; }

h1{font-size: 3em; text-shadow: 7px 4px 5px greenyellow}
h2{font-size: 2em; font-weight: bold;}


a:link{color:white;}

a:visited{color:green;}

a:hover{color:greenyellow;}


p{ font-family:Arial, Helvetica, sans-serif; text-align: center;}


.imagen{width: 1000px; height: 450px;}

.imagen1{ width: 400px; height: 350px; }

.imagen2{ width: 150px; height: 150px;}

.imagen3{ width: 200px; height: 100px;}

.imagen4{ width: 600px; height: 300px;}

.imagen5{width: 500px; height: 300px;}

.imagen6{width: 550px; height: 400px;}

.imagen7{width: 350px; height: 250px;}




.tablemisteri, .tablepuçol { margin:auto;}

.tablemisteri, .tablepuçol, tr, th, td { border: 3px solid black; border-collapse: collapse;empty-cells: hide;}

th {background: #f77248;}



/*menu*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
.separada {
    float:right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
